<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Settings</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Environment</string>
			<key>Key</key>
			<string>environment</string>
			<key>DefaultValue</key>
			<string>sandbox</string>
			<key>Titles</key>
			<array>
				<string>Sandbox</string>
				<string>Production</string>
			</array>
			<key>Values</key>
			<array>
				<string>sandbox</string>
				<string>production</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Intent</string>
			<key>Key</key>
			<string>intent</string>
			<key>DefaultValue</key>
			<string>capture</string>
			<key>Titles</key>
			<array>
				<string>Capture</string>
				<string>Authorize</string>
			</array>
			<key>Values</key>
			<array>
				<string>capture</string>
				<string>authorize</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Feature</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Demo Type</string>
			<key>Key</key>
			<string>demo_type</string>
			<key>DefaultValue</key>
			<string></string>
			<key>Titles</key>
			<array>
				<string>Card</string>
				<string>PayPal Web Checkout</string>
				<string>Payment Button Customization</string>
				<string>PayPal Native Checkout</string>
			</array>
			<key>Values</key>
			<array>
				<string>card</string>
				<string>payPalWebCheckout</string>
				<string>paymentButtonCustomization</string>
				<string>payPalNativeCheckout</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>UI Framework</string>
			<key>Key</key>
			<string>demo_ui_framework</string>
			<key>DefaultValue</key>
			<string>UIKit</string>
			<key>Titles</key>
			<array>
				<string>UIKit</string>
				<string>SwiftUI</string>
			</array>
			<key>Values</key>
			<array>
				<string>uikit</string>
				<string>swiftui</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
