name: Lint
on: [pull_request, workflow_dispatch]
concurrency:
  group: lint-${{ github.event.number }}
  cancel-in-progress: true
jobs:
  swiftlint:
    name: SwiftLint
    runs-on: macOS-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v2
      - name: Use Xcode 13
        run: sudo xcode-select -switch /Applications/Xcode_13.2.1.app
      - name: Install Dependencies
        run: bundle install
      - name: Run SwiftLint
        run: bundle exec fastlane lint

