name: Lint
on: [pull_request, workflow_dispatch]
concurrency:
  group: lint-${{ github.event.number }}
  cancel-in-progress: true
jobs:
  swiftlint:
    name: SwiftLint
    runs-on: macos-26
    steps:
      - name: Check out repository
        uses: actions/checkout@v2
      - name: Select Xcode Version
        run: sudo xcode-select -switch /Applications/Xcode_26.0.1.app/Contents/Developer
      - name: Install SwiftLint
        run: brew install swiftlint
      - name: Run SwiftLint
        run: swiftlint --strict
